In [4]:
import pandas as pd

In [5]:
gradeline = pd.read_excel('D:/AI/AI-/Day47code/test.xls')
gradeline

      年份  一本文科  一本理科  二本文科  二本理科
0   2020   542   537   469   449
1   2019   542   507   481   432
2   2018   546   516   476   432
3   2017   518   481   452   400
4   2016   518   519   460   438
5   2015   513   515   462   442
6   2014   526   534   478   462
7   2013   507   493   459   440
8   2012   539   530   492   476
9   2011   543   570   496   520
10  2010   533   536   492   491
11  2009   548   547   507   505
12  2008   545   546   510   511
13  2007   580   572   553   439
14  2006   561   552   528   515

# 1.一本文理科与二本文理科最高的分数线是多少？最低的分数线是多少？相差多少分？

In [38]:
First_tier_universities_Arts = gradeline['一本文科']
First_tier_universities_Arts

0     542
1     542
2     546
3     518
4     518
5     513
6     526
7     507
8     539
9     543
10    533
11    548
12    545
13    580
14    561
Name: 一本文科, dtype: int64

In [39]:
# 一本文科最高分
First_tier_universities_Arts_Max = First_tier_universities_Arts.max()
First_tier_universities_Arts_Max

580

In [40]:
# 一本文科最低分
First_tier_universities_Arts_Min = First_tier_universities_Arts.min()
First_tier_universities_Arts_Min

507

In [41]:
# 相差分数
First_tier_universities_Arts_differ = First_tier_universities_Arts_Max - First_tier_universities_Arts_Min
First_tier_universities_Arts_differ

73

In [42]:
First_tier_universities_Science = gradeline['一本理科']
First_tier_universities_Science

0     537
1     507
2     516
3     481
4     519
5     515
6     534
7     493
8     530
9     570
10    536
11    547
12    546
13    572
14    552
Name: 一本理科, dtype: int64

In [43]:
# 一本理科的最高分数
First_tier_universities_Science_Max = First_tier_universities_Science.max()
First_tier_universities_Science_Max

572

In [44]:
# 一本理科科最低分
First_tier_universities_Science_Min = First_tier_universities_Science.min()
First_tier_universities_Science_Min

481

In [45]:
# 相差分数
First_tier_universities_Science_differ = First_tier_universities_Science_Max - First_tier_universities_Science_Min
First_tier_universities_Science_differ

91

In [46]:
Second_tier_universities_Arts = gradeline['二本文科']
Second_tier_universities_Arts

0     469
1     481
2     476
3     452
4     460
5     462
6     478
7     459
8     492
9     496
10    492
11    507
12    510
13    553
14    528
Name: 二本文科, dtype: int64

In [47]:
# 二本文科最高分
Second_tier_universities_Arts_Max = Second_tier_universities_Arts.max()
Second_tier_universities_Arts_Max

553

In [48]:
# 二本文科最低分
Second_tier_universities_Arts_Min = Second_tier_universities_Arts.min()
Second_tier_universities_Arts_Min

452

In [49]:
# 相差分数
Second_tier_universities_Arts_differ = Second_tier_universities_Arts_Max - Second_tier_universities_Arts_Min
Second_tier_universities_Arts_differ

101

In [50]:
Second_tier_universities_Science = gradeline['二本理科']
Second_tier_universities_Science

0     449
1     432
2     432
3     400
4     438
5     442
6     462
7     440
8     476
9     520
10    491
11    505
12    511
13    439
14    515
Name: 二本理科, dtype: int64

In [51]:
# 二本理科的最高分数
Second_tier_universities_Science_Max = Second_tier_universities_Science.max()
Second_tier_universities_Science_Max

520

In [52]:
# 二本理科的最低分数
Second_tier_universities_Science_Min = Second_tier_universities_Science.min()
Second_tier_universities_Science_Min

400

In [53]:
# 相差分数
Second_tier_universities_Science_differ = Second_tier_universities_Science_Max - Second_tier_universities_Science_Min
Second_tier_universities_Science_differ

120

In [67]:
# 结果
dict = {'一本文科':[First_tier_universities_Arts_Max,First_tier_universities_Arts_Min,First_tier_universities_Arts_differ],
       '一本理科':[First_tier_universities_Science_Max,First_tier_universities_Science_Min,First_tier_universities_Science_differ],
       '二本文科':[Second_tier_universities_Arts_Max,Second_tier_universities_Arts_Min,Second_tier_universities_Arts_differ],
       '二本理科':[Second_tier_universities_Science_Max,Second_tier_universities_Science_Min,Second_tier_universities_Science_differ]}
res = pd.DataFrame(dict,index=['最高分','最低分','相差'])
res

     一本文科  一本理科  二本文科  二本理科
最高分   580   572   553   520
最低分   507   481   452   400
相差     73    91   101   120

# 2.今年与去年相比，一本文理科与二本文理科变化了多少分？

In [68]:
twoyear = gradeline[:2]
twoyear

     年份  一本文科  一本理科  二本文科  二本理科
0  2020   542   537   469   449
1  2019   542   507   481   432

In [69]:
# 一本文科的变化
First_tier_universities_Arts_Change = twoyear['一本文科'][0] - twoyear['一本文科'][1]
First_tier_universities_Arts_Change

0

In [70]:
# 一本理科的变化
First_tier_universities_Science_Change = twoyear['一本理科'][0] - twoyear['一本理科'][1]
First_tier_universities_Science_Change

30

In [71]:
# 二本文科的变化
Second_tier_universities_Arts_Change = twoyear['二本文科'][0] - twoyear['二本文科'][1]
Second_tier_universities_Arts_Change

-12

In [72]:
# 二本理科的变化
Second_tier_universities_Science_Change = twoyear['二本理科'][0] - twoyear['二本理科'][1]
Second_tier_universities_Science_Change

17

In [73]:
# 结果
dict2 = {'一本文科':[First_tier_universities_Arts_Change],
       '一本理科':[First_tier_universities_Science_Change],
       '二本文科':[Second_tier_universities_Arts_Change],
       '二本理科':[Second_tier_universities_Science_Change]}
change = pd.DataFrame(dict2,index=['变化'])
change

    一本文科  一本理科  二本文科  二本理科
变化     0    30   -12    17

# 3.求 2006——2020 年近 15 年每科分数线的平均值。

In [74]:
gradeline.mean()

年份      2013.000000
一本文科     537.400000
一本理科     530.333333
二本文科     487.666667
二本理科     463.466667
dtype: float64

In [75]:
# 一本文科平均值
First_tier_universities_Arts_Mean = gradeline['一本文科'].mean()
First_tier_universities_Arts_Mean

537.4

In [79]:
# 一本理科平均值
First_tier_universities_Science_Mean = gradeline['一本理科'].mean()
First_tier_universities_Science_Mean

530.3333333333334

In [80]:
# 二本文科平均值
Second_tier_universities_Arts_Mean = gradeline['二本文科'].mean()
Second_tier_universities_Arts_Mean

487.6666666666667

In [81]:
# 二本理科平均值
Second_tier_universities_Science_Mean = gradeline['二本文科'].mean()
Second_tier_universities_Science_Mean

487.6666666666667

In [82]:
# 结果
dict3 = {'一本文科':[First_tier_universities_Arts_Mean],
       '一本理科':[First_tier_universities_Science_Mean],
       '二本文科':[Second_tier_universities_Arts_Mean],
       '二本理科':[Second_tier_universities_Science_Mean]}
mean = pd.DataFrame(dict3,index=['平均值'])
mean

      一本文科        一本理科        二本文科        二本理科
平均值  537.4  530.333333  487.666667  487.666667